# Backend
fastapi
uvicorn
python-multipart
pydantic>=2.7.4
pydantic-settings

# AI/RAG
langchain
langchain-community
langchain-huggingface
langchain-ollama
chromadb

# LLMOps
langsmith

# MLOps
mlflow
evidently

# Caching
redis

# Storage
boto3

# Monitoring
prometheus-fastapi-instrumentator
structlog

# Frontend
streamlit

# Testing
pytest
httpx

sentence-transformers
langchain-chroma
